body {
  background-color: #a871714a;
}

header {
  text-align: center;
}

h1, h2 {
  text-align: center;
  color: #A87171;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h6 {
  text-align: center;
  margin-top: 0;
  color: #845b5b;
}

section, nav, aside {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #fa807238;
  text-align: center;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

section {
  width: 50%;
  padding: 2px;
  border: 7px solid white;
  border-radius: 20px;

}

#salmon {
  width: 20%;
  text-align: center;

}

#family {
  width: 91%;
}

#shirt {
  width: 95%;
}

nav, aside {
  width: 15%;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-block;
}

aside {
  width: 20%;
}
footer {
  text-align: center;
  background-color: white;
}
