body {
  background-color: #a871714a;
}

header {
  text-align: center;
}


h1, h2 {
  text-align: center;
  color: #A87171;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  font-size: 51px;
}


h6 {
  text-align: center;
  margin-top: 0;
  color: #845b5b;
  font-size: 15px;
}

section, nav, aside {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #fa807238;
  text-align: center;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}


section {
  width: 30%;
  padding: 2px;
  border: 7px solid white;
  border-radius: 20px;

}

#salmon {
  width: 20%;
  text-align: center;

}

#family {
  width: 91%;
  border-radius: 20px;
}

#shirt {
  width: 95%;
  border-radius: 20px;
}


nav, aside {
  width: 30%;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-block;
}


footer {
  text-align: center;
  background-color: white;
}

th, td {
  padding: 4px 8px;
  border-bottom: 1px solid black;
}

table {
  border: 1px solid black;
  margin:auto;
}

tbody:nth-child(even) {
  background-color: #e1a4a0;
}

tr:hover {
  background-color: #CCeeEE;
}

th {
  text-size: 15px;
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 5%;
}

input[type=text] {
      width: 91%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }
