h1, h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #A87171;
}

h6 {
  margin-top: 0;
  color: #845b5b;
}

h2 {
  margin-bottom: 0;
  color: #A87171;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* body {
  background-color: #fa80724d;
  opacity: 50%;
} */

#background {
  width: 20%;
  background-color: #a871714a;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

#border {
  width: 20%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

#headers {
  width: 20%;
  background-color: #A87171;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

#table {
  width: 20%;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid white;
  display: inline-block;
}
